/* .portfolio {
    max-width: 1280px;
    min-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
} */
/* Base Styles (applies to all screen sizes) */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

/* Header CSS */

.header {
  /* background-color: #333; */
  background-color: #636b74;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.header-title {
  font-size: 36px;
  margin: 0;
}

.header-subtitle {
  font-size: 24px;
  margin: 10px 0;
}

.header-description {
  font-size: 18px;
  margin: 10px 0;
}

/* Skill.css */

.skill-section {
  background-color: #f7f7f7;
  padding: 40px 0;
  text-align: center;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.skill-item svg {
  font-size: 36px;
  margin-bottom: 10px;
}

/* Footer CSS */
.footer {
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
    font-size: 24px;
  }
  
  .social-icons a {
    color: #fff;
    text-decoration: none;
  }